<div class = "user-info">
  <div class="info-title">Profile</div>
  <div class = "user-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>

  </div>
  <div class = "user-profile">
    資格取得をめざしてます！
  </div>
</div>